// Hook to override any styles
.post-index, .post, .site-footer {
    display: grid;
    align-content: center;

    grid-template-columns:
        1fr
        #{"min(65ch, 100%)"}
        1fr;

    @include media-query-small-screen() {min-width: $mobile-width;}

    > * {
        grid-column: 2;
        margin-right: $spacing-unit;
        margin-left: $spacing-unit;
    }

}
