---
layout: default
---
<section class="post">

    <header class="post-header">
        <h1 class="post-title">
            {% if page.external_url %}
            <a href="{{ page.external_url }}" class='article-link'>{{ page.title }}{{ site.external-url-indicator }}</a>
            {% else %}
            {{ page.title }}
            {% endif %}
            {% if page.draft %} <span class="draft">Draft</span> {% endif %}
        </h1>

        <h4 class="post-author">
            {% if page.author %} {{page.author}} {% else %}
            {% if site.author.name %} {{site.author.name}} {% else %} Kaushik Gopal{% endif %}
            {% endif %}
        </h4>

    </header>

    <article class="post-content">
        {{ content }}
    </article>

    {% include meta.html %}

</section>